# Configuración del Servidor
PORT=3000
NODE_ENV=development

# Seguridad y Autenticación
SESSION_SECRET=
DOCENTE_CODE=

# Base de Datos (PostgreSQL)
DATABASE_URL=postgresql://neondb_owner:npg_Y2JnyR9ZIsrc@ep-holy-mountain-aqdtst7y-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Configuración de Correo (Para recuperación de contraseñas)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu-correo@gmail.com
SMTP_PASS=tu-codigo-de-16-letras-sin-espacios
SMTP_FROM=tu-correo@gmail.com