# Configuración del Servidor
PORT=3000
NODE_ENV=development

# Seguridad y Autenticación
SESSION_SECRET=
DOCENTE_CODE=

# Base de Datos (PostgreSQL)
DATABASE_URL=

# Google Login
GOOGLE_CLIENT_ID=

# Configuración de Correo (Para recuperación de contraseñas)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu-correo@gmail.com
SMTP_PASS=tu-codigo-de-16-letras-sin-espacios
SMTP_FROM=tu-correo@gmail.com